.container-chart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-title {
  margin-bottom: 32px;
}

.container-chart {
  max-width: 510px;
  max-height: 517px;
  padding-left: 17.5px;
  padding-right: 17.5px;
  background-color: var(--fb-primary-90);
  .container-chart-header {
    width: 100%;
    margin-bottom: 16px;
    font-size: var(--mat-sys-typescale-title-large-font-size);
    font-weight: var(--mat-sys-typescale-title-large-font-weight);
    line-height: var(--mat-sys-typescale-title-large-line-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .container-chart-header-chip {
        margin-right: -6px;
    }
    mat-tab-group {
      width: 100%;
      flex: 1;
      mat-tab {
        margin-bottom: 15px;
      }
    }
  }
  .container-chart-content {
    height: 348px;
    width: 443px;
    overflow-y: scroll;
    border-radius: 3px;
  }

  .time-chart-header {
    padding: 26px 0px;
  }

  .container-chart-navigation {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding-bottom: 12px;
    padding-top: 7px;
    margin-left: 8px;
    margin-right: 5px;
    button {
        height: 40px;
        width: 52px;
        background-color: var(--fb-primary-40);
        color: white;
        padding: 8px 14px;
        &:hover {
            background-color: var(--fb-primary-30);
        }
        box-shadow: none;
    }
  }
}

