@use '@angular/material' as mat;

.sidebar-container {
  height: 100vh;
  display: block;
}

mat-sidenav {
  border-radius: 0px;
  background-color: var(--fb-tertiary-85);
  height: 100vh;
  max-width: 66px;
  padding-top: 81px;
  padding-bottom: 15px;

  .container-options {
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;

    .menu-icon-container {
      
      padding-top: 6px;
      padding-bottom: 6px;
      margin-bottom: 4px;
      &:first-child {
        margin-bottom: 53px;
        padding: 16px;
      }
      .menu-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 4px;
        padding-bottom: 4px;
        
        mat-icon {
          font-size: var(--mat-sys-typescale-headline-small-font-size);
          color: var(--fb-primary-0);
        }

        &:not(.account):not(.no-select):hover, &.option-selected {
          background-color: var(--fb-primary-50);
          border-radius: 16px;
          cursor: pointer;
          mat-icon {
            color: var(--fb-primary-100);
          }
        }
      }
    }
  }
}

.logo {
  position: absolute;
  z-index: 100;
  left: 60px;
  top: 5px
}

.content-banner-container {
  .content-banner {
    width: calc(100% - 18px);
    height: 74px;
    opacity: 76%;
    margin-top: 10px;
    padding-right: 43px;
    background-color: var(--fb-tertiary-85);
    border-top-right-radius: 37px;
    border-bottom-right-radius: 37px;
    display: flex;
    align-items: center;
    justify-content: end;
    font-family: var(--mat-sys-typescale-display-small-font-family);
    font-size: var(--mat-sys-typescale-display-small-font-size);
    font-weight: var(--mat-sys-typescale-display-small-font-weight);
    line-height: var(--mat-sys-typescale-display-small-line-height);
    color: var(--fb-primary-0);
  }
}

.account-option-container {
  position: relative;
  top: calc(100% - 310px);
  display: flex;
  justify-content: center;
  .menu-icon.account {
    &:hover {
      cursor: pointer;
    }
    background-color: var(--fb-primary-40);
    border-radius: 16px;
    height: 40px;
    width: 40px;
    @include mat.elevation(3);
    mat-icon {
      color: var(--fb-primary-100) !important;
    }
  }
}

mat-sidenav-content {
  .content-title{
    margin-top: 31px;
    margin-left: 24px;
    display: flex;
    align-items: center;
    .title-icon-container {
      padding: 12px;
    }
  }
  .content-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    .background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.account-menu-chart {
  width: 312px;
  background-color: var(--fb-primary-90);
  border-radius: var(--mat-sys-corner-extra-large);
  
  box-shadow: 
    inset 0 1px 3px rgba(0, 0, 0, 0.12),     // Subtle top inner shadow
    inset 0 1px 2px rgba(0, 0, 0, 0.08),     // Softer top inner shadow
    inset 0 -1px 2px rgba(0, 0, 0, 0.05);    // Bottom inner shadow for depth
}

.account-menu-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 9px;
  border-bottom: 1px solid var(--fb-gray-80);
  .account-menu-icon {
    margin-right: 16px;
  }
}
.account-menu-content {
  width: 100%;
  display: flex;
  justify-content: center;

  button.mat-mdc-menu-item {
    margin-top: 24px;
    width: auto;
    height: 48px;
    padding: 10px 16px;
    color: var(--fb-primary-100);
    background-color: var(--mat-sys-primary);
    border-radius: var(--mat-sys-corner-medium);
  }
}
